.section.section-hero {
    border: 1px solid #000;
    margin-bottom: 40px;

    .section__inner {
        display: flex;
        align-items: center;
    }

    .section__image {

        img {
            max-width: 400px;
            max-height: 400px;
            object-fit: contain;
        }
    }
}